body
{
  font-family: fixed, sans-serif;
}

/* ------------------------------------------------------------------------
** game window
*/
#game
{
  width:  800px;
  height: 600px;
  overflow: hidden;
  background: black;
  background-image: url(img/starbg.gif);
}
#game img
{
  float: right;
}

.popup
{
  border: 3px outset grey;
  position: absolute;
}

#initialmenu
{
  background-color: white;
  width: 10em;
}

a.menuentry
{
  display: block;
  border: 3px dotted gray;
  text-decoration: none;
  color: black;
  margin-top: 1px;
  outline: none;  /* to prevent dotted outline in firefox */
}
a.menuentry:hover
{
  color: white;
  background-color: black;
}

/* Status/progress line */
#status
{
  border: 1px solid black;
  /* this is nightmarish: to look right, IE needs 3ex but Firefox and
   * Opera can work it out themselves, but 3ex is too big in others */
  height: 3ex;
  width:  800px;
}
#status .progressbar
{
  background: orange;
}
#status .progresstxt
{
  text-align: center;
}

/* Logging */
#log
{
    border: 1px solid black;
    height: 18ex;
    overflow: scroll;
    font-family: monospace;
    font-size: 80%;
    white-space: pre; /* this doesn't work in IE :( */
}
