body
{
  font-family: fixed, sans-serif;
}

/* ------------------------------------------------------------------------
** game window
*/
#game
{
  width:  640px;
  height: 400px;
  overflow: hidden;
}

/* Status/progress line */
#status
{
  border: 1px solid black;
  height: 1ex;  /* for IE */
  width:  640px;
}
#status .progressbar
{
  background: orange;
}
#status .progresstxt
{
  text-align: center;
}

/* Logging */
#log
{
    border: 1px solid black;
    height: 10ex;
    overflow: scroll;
}
