/* Status/progress line */
#status
{
  border: 1px solid black;
  height: 3ex;  /* for IE */
}
#status .progressbar
{
  background: orange;
}
#status .progresstxt
{
  text-align: center;
}

/* Logging */
#log
{
    border: 1px solid black;
}
